ul.anc_server__episodes {
    background: #f9f9f9;
    list-style: none;
    padding: 0;
    margin: 0;
    border: 1px solid #444;
}

ul.anc_server__episodes li.anc_server__item {
    list-style: none;
    padding: 10px;
    border-bottom: 1px dashed #ffffff;
}

ul.anc_server__episodes li.anc_server__item div {
    display: inline-block;
}

ul.anc_server__episodes li.anc_server__item .anc_server__name {
    width: 100px;
    color: #3F51B5;
    font-weight: bold;
}

ul.anc_server__episodes li.anc_server__item .anc_server__episode .anc_episode__name {
    padding: 2px 30px 2px 6px;
    color: #607D8B;
    border: 1px solid #bebebe;
    margin: 0px 4px;
    position: relative;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
    background: white;
    font-weight: 700;
}

ul.anc_server__episodes li.anc_server__item .anc_server__episode .anc_episode__name .anc_episode__position {
    position: absolute;
    right: 0px;
    background: #ff9090;
    color: #ffffff;
    padding: 3px 4px;
    top: 0px;
    font-size: 12px;
}